### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# misc
.DS_Store

# dependencies
/ui/node/
/ui/node_modules/

# testing
/ui/coverage
/ui/npm-debug.log*

# production
/logs
/dest
/build/release/
/build/build_app.xml
target/
/data/

# local
src/main/resources/git.properties
/local-api.env
/.archived/
