### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

src/main/resources/git.properties
target/

# dependencies
/ui/node_modules/

# testing
/ui/coverage
/ui/npm-debug.log*

# production
/dest

# misc
.DS_Store
