<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <springProfile name="local">
        <property name="app.name" value="OverseerApi"/>
        <property name="log.pattern"
                  value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [${app.name}][%X{endpointPath}] %m%n"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${log.pattern}</pattern>
            </encoder>
        </appender>

        <!--        <logger name="org.hibernate" level="DEBUG"/>-->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.jdbc" level="DEBUG"/>
        <logger name="com.bnfd.common" level="INFO"/>
        <logger name="com.bnfd.overseer" level="DEBUG"/>
        <logger name="com.bnfd.overseer.service" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="!local">
        <property name="app.name" value="OverseerApi"/>
        <property name="app.log.dir" value="logs/${app.name}"/>
        <property name="app.log.file" value="${app.log.dir}/${app.name}_log.out"/>
        <property name="app.log.jsonfile" value="${app.log.dir}/${app.name}_log.json"/>
        <property name="app.log.rollover.dir" value="${app.log.dir}/%d{yyyy-MM}"/>
        <property name="app.log.rollover.file" value="${app.log.rollover.dir}/log-%d{MM-dd-yyyy}-%i.out.gz"/>
        <property name="app.log.rollover.jsonfile" value="${app.log.rollover.dir}/log-%d{MM-dd-yyyy}-%i.json.gz"/>
        <property name="log.pattern"
                  value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [${app.name}][%X{endpointPath}][%X{userId}] %m%n"/>

        <appender name="JSONFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${app.log.jsonfile}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${app.log.rollover.jsonfile}</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${app.log.file}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${app.log.rollover.file}</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${log.pattern}</pattern>
            </encoder>
        </appender>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${log.pattern}</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="com.bnfd.common" level="INFO"/>
        <logger name="com.bnfd.overseer" level="INFO"/>
        <logger name="com.bnfd.overseer.service" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="JSONFILE"/>
            <appender-ref ref="LOGFILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
